<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>申诉中心</title>
    <!--jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边)-->
    <script src="../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" href="../static/css/profile.css" th:href="@{/css/profile.css}">
    <script src="../static/js/myProfile.js" th:src="@{/js/myProfile.js}"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div>
    <div class="container-fluid main profile">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-xs-12 con-body">
                <!--左3/4区域：主页的主体-->
                <h2>
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                    申诉中心</h2>
                <hr>
                <div>
                    <table class="table table-bordered">
                        <tr>
                            <th>目标链接</th>
                            <th>封禁理由</th>
                            <th>总的举报数</th>
                            <th>被封禁次数</th>
                            <th> 申 诉 </th>
                        </tr>
                        <tr th:each="appealDTO:${pageDTO.dataS}">
                            <td><a th:href="'/question/'+${appealDTO.questionId}" th:text="${appealDTO.titleShort}">测试</a></td>
                            <td th:text="${appealDTO.deal.dealResult}">封禁理由</td>
                            <td th:text="${appealDTO.deal.reportCount}">3次</td>
                            <td th:text="${appealDTO.deal.banCount}">1次</td>
                            <td>
                                <a th:href="@{/cancelAppeal(id=${appealDTO.id})}">放弃</a>
                                <a th:data-target="'#appealModal-'+${appealDTO.id}" class="btn-report" data-toggle="modal" data-target="#test">申诉</a>
                            </td>
                        </tr>
                    </table>

                    <!-- 申诉模态框 -->
                    <div th:each="appealDTO:${pageDTO.dataS}">
                        <div class="modal fade" th:id="'appealModal-'+${appealDTO.id}" id="test" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h2 class="modal-title">整改申诉</h2>
                                    </div>
                                    <form th:action="@{/appeal(id=${appealDTO.id})}" method="post">
                                        <div class="modal-body">
                                            <input type="hidden" name="id" th:value="${appealDTO.id}">
                                            <h3>填写申诉的理由或整改检讨：</h3>
                                            <div class="reason-row">
                                                <textarea class="form-control" rows="4" name="appealReason" placeholder="请输入封禁理由...">已整改。</textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button type="submit" class="btn btn-primary">提交</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--分页按钮-->
                    <nav>
                        <ul class="pagination">
                            <li th:if="${pageDTO.showFirst==true}">
                                <a th:href="@{/myAppeal(currentPage='1')}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li th:if="${pageDTO.showLast==true}">
                                <a th:href="@{/myAppeal(currentPage=${pageDTO.currentPage}-1,)}" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li th:each="showButton:${pageDTO.showButtons}" th:class="${pageDTO.currentPage==showButton?'active':''}">
                                <a th:href="@{/myAppeal(currentPage=${showButton})}" th:text="${showButton}"></a>
                            </li>
                            <li th:if="${pageDTO.showNext==true}">
                                <a th:href="@{/myAppeal(currentPage=${pageDTO.currentPage+1})}" aria-label="Previous">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li th:if="${pageDTO.showEnd==true}">
                                <a th:href="@{/myAppeal(currentPage=${pageDTO.totalPage})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-xs-12 right-bar">
                <!--右边1/4区域：选择列表-->
                <div class="list-group">
                    <a href="/myProfile" class="list-group-item">我的信息</a>
                    <a href="/myQuestion" class="list-group-item">我的问题<span class="badge" th:text="${session.myQuestionCount}">10</span></a>
                    <a href="/myMessage" class="list-group-item" >我的消息<span class="badge" th:text="${session.unread}">14</span></a>
                    <a href="/myStar" class="list-group-item">我的收藏</a>
                    <a href="/myWatch" class="list-group-item">我的关注</a>
                    <a href="/myAppeal" class="list-group-item active">申诉中心</a>
                    <a th:if="${session.user.power==2}" href="/dealManage" class="list-group-item">投诉管理</a>
                    <a th:if="${session.user.power==2}" href="/appealManage" class="list-group-item">申诉管理</a>
                    <a href="/logout" class="list-group-item">退出登录</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>