<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="${questionDTO.title}">问题详情</title>
    <!--jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边)-->
    <script src="../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js/comment.js" th:src="@{/js/comment.js}"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" href="../static/css/question.css" th:href="@{/css/question.css}">
    <script src="../static/js/moment.min.js" th:src="@{/js/moment.min.js}"></script>
    <!--显示markdown富文本内容要的css：Markdown to HTML-->
    <link rel="stylesheet" href="../static/css/editormd.preview.min.css" th:href="@{/css/editormd.preview.min.css}">
    <script src="../static/js/editormd.min.js" th:src="@{/js/editormd.min.js}"></script>
    <script src="../static/js/lib/marked.min.js" th:src="@{/js/lib/marked.min.js}"></script>
    <script src="../static/js/lib/prettify.min.js" th:src="@{/js/lib/prettify.min.js}"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-xs-12">
                <!--左3/4区域：主页的主体-->
                <!--标题部分-->
                <h2><span th:text="${questionDTO.title}">标题 </span></h2>
                <!--作者信息部分-->
                <span class="text-desc">
                    作者：<span th:text="${questionDTO.user.name}">黎明</span>
                    | <span th:text="${#dates.format(questionDTO.gmtCreate,'yyyy-MM-dd HH:mm')}">2019-06-09</span>
                    | 阅读数：<span th:text="${questionDTO.viewCount}">11</span>
                </span>
                <hr>
                <!--内容部分-->
                <!--<div th:text="${questionDTO.description}">内容</div>-->
                <div id="question-view">
                    <!-- Server-side output Markdown text -->
                    <textarea style="display:none;" th:text="${questionDTO.description}">### 内容 !</textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        editormd.markdownToHTML("question-view", {
                        });
                    });
                </script>

                <hr>
                <div>
                    <!--标签部分-->
                    <span class="label label-info comment-tag" th:each="tag:${questionDTO.tag.split(',')}">
                        <span class="glyphicon glyphicon-tags comment-tag-icon"></span>
                        <span th:text="${tag}">
                            标签
                        </span>
                    </span>
                </div>
                <hr>
                <!--编辑部分-->
                <a th:if="${session.user!=null&&questionDTO.user.id==session.user.id}" th:href="@{'/publish/'+${questionDTO.id}}" href="#" class="question-edit">
                    <span class="glyphicon glyphicon-edit " aria-hidden="true"></span>
                    编辑
                </a>

                <!--点赞-->
                <span class="glyphicon glyphicon-thumbs-up comments-like icon like-active"
                      th:class="${questionDTO.praiseStatus==0?'glyphicon glyphicon-thumbs-up comments-like icon':'glyphicon glyphicon-thumbs-up comments-like icon like-active'}"
                      th:data-id="${questionDTO.id}"
                      th:id="'quePraise-'+${questionDTO.id}" onclick="questionPraise(this)"></span>
                <span th:text="${questionDTO.praiseCount}" class="ICount" th:id="'quePraCount-'+${questionDTO.id}">11</span>
                <!--踩-->
                <span class="glyphicon glyphicon-thumbs-down comments-like icon tread-active"
                      th:class="${questionDTO.treadStatus==0?'glyphicon glyphicon-thumbs-down comments-like icon':'glyphicon glyphicon-thumbs-down comments-like icon tread-active'}"
                      th:data-id="${questionDTO.id}"
                      th:id="'queTread-'+${questionDTO.id}" onclick="questionTread(this)"></span>
                <span th:text="${questionDTO.treadCount}" class="ICount" th:id="'queTreCount-'+${questionDTO.id}">11</span>
                <!--收藏-->
                <span class="glyphicon glyphicon-star-empty comments-like icon star-active"
                      th:class="${questionDTO.starStatus==0?'glyphicon glyphicon-star-empty comments-like icon':'glyphicon glyphicon-star-empty comments-like icon star-active'}"
                      th:data-id="${questionDTO.id}"
                      th:id="'star-'+${questionDTO.id}" onclick="star(this)"></span>
                <span th:text="${questionDTO.starCount}" class="ICount" th:id="'starCount-'+${questionDTO.id}">11</span>
                <!--回复数部分-->
                <h4 class="comments-replyCount">
                    <span th:text="${questionDTO.commentCount}">0</span> 个回复
                </h4>
                <hr>
                <!--评论展示部分-->
                <div class="media" th:each="commentDTO:${commentDTOS}">
                    <div class="media-left">
                        <img class="media-object img-rounded img-comments" th:src="${commentDTO.user.avatarUrl}"
                         src="../static/img/9150e4e5gy1gab4a9xjurj205h04wdfr.jpg">
                    </div>
                    <div class="comments media-body" th:id="${'comment-body-'+commentDTO.id}">
                        <span class="comment-commentator" th:text="${commentDTO.user.name}">黎明</span>
                        <div th:text="${commentDTO.content}">
                            我是评论内容
                        </div>
                        <div class="comment-menu" >
                            <!--点赞-->
                            <span class="glyphicon glyphicon-thumbs-up comments-like icon like-active"
                                  th:class="${commentDTO.praiseStatus==0?'glyphicon glyphicon-thumbs-up comments-like icon':'glyphicon glyphicon-thumbs-up comments-like icon like-active'}"
                                  th:data-id="${commentDTO.id}"
                                  th:id="'comPraise-'+${commentDTO.id}" onclick="commentPraise(this)"></span>
                            <span th:text="${commentDTO.praiseCount}" class="ICount" th:id="'comPraCount-'+${commentDTO.id}">11</span>
                            <!--踩-->
                            <span class="glyphicon glyphicon-thumbs-down comments-like icon like-active"
                                  th:class="${commentDTO.treadStatus==0?'glyphicon glyphicon-thumbs-down comments-like icon':'glyphicon glyphicon-thumbs-down comments-like icon tread-active'}"
                                  th:data-id="${commentDTO.id}"
                                  th:id="'comTread-'+${commentDTO.id}" onclick="commentTread(this)"></span>
                            <span th:text="${commentDTO.treadCount}" class="ICount" th:id="'comTreCount-'+${commentDTO.id}">11</span>

                            <span class="glyphicon glyphicon-comment icon" th:data-id="${commentDTO.id}" onclick="collapseComments(this)"></span>
                            <span class="commentCount" th:text="${commentDTO.commentCount}">11</span>
                            <span class="pull-right comments-data" th:text="${#dates.format(commentDTO.gmtCreate,'yyyy-MM-dd HH:mm')}">2019-06-09</span>
                        </div>
                        <!--二级评论部分-->
                        <div class="collapse comments-border" th:id="${'comment-'+commentDTO.id}">
                            <!--二级评论区-->

                            <!--这段需要手写↓↓↓-->
                            <!--<div class="media" th:each="commentDTO:${commentDTOS}">-->
                                <!--<div class="media-left">-->
                                    <!--<img class="media-object img-rounded img-comments" th:src="${commentDTO.user.avatarUrl}"-->
                                         <!--src="../static/img/9150e4e5gy1gab4a9xjurj205h04wdfr.jpg">-->
                                <!--</div>-->
                                <!--<div class="comments media-body">-->
                                    <!--<span class="comment-commentator" th:text="${commentDTO.user.name}">黎明</span>-->
                                    <!--<div th:text="${commentDTO.content}">-->
                                        <!--我是评论内容-->
                                    <!--</div>-->
                                    <!--<div class="comment-menu">-->
                                        <!--<span class="glyphicon glyphicon-thumbs-up comments-like icon"></span>-->
                                        <!--<span class="pull-right comments-data" th:text="${#dates.format(commentDTO.gmtCreate,'yyyy-MM-dd HH:mm')}">2019-06-09</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<hr class="comments-hr">-->
                            <!--</div>-->
                            <!--这段需要手写↑↑↑-->
                            <!--直接构造好复制到js中，前后用"+ (这中间可以取变量值)+"-->
                            <!--<div class="media">-->
                                <!--<div class="media-left">-->
                                    <!--<img class="media-object img-rounded img-comments" src="1"-->
                                         <!--src="../static/img/9150e4e5gy1gab4a9xjurj205h04wdfr.jpg">-->
                                <!--</div>-->
                                <!--<div class="comments media-body">-->
                                    <!--<span class="comment-commentator">2</span>-->
                                    <!--<div>-->
                                        <!--3-->
                                    <!--</div>-->
                                    <!--<div class="comment-menu">-->
                                        <!--<span class="glyphicon glyphicon-thumbs-up comments-like icon"></span>-->
                                        <!--<span class="pull-right comments-data" th:text="${#dates.format(4,'yyyy-MM-dd HH:mm')}">2019-06-09</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<hr class="comments-hr">-->
                            <!--</div>-->
                            <!--复制到js中替换其中的变量即可↑↑↑-->

                            <!--二级评论编辑区-->
                            <div id="" class="comments-form">
                                <input type="text" th:id="${'input-'+commentDTO.id}" class="form-control" id="exampleInputEmail1" placeholder="评论一下……">
                                <button type="button" onclick="secondPost(this)" th:data-id="${commentDTO.id}" class="btn btn-success btn-comments">评论</button>
                            </div>

                        </div>
                    </div>
                    <hr class="comments-hr">
                </div>

                <span class="comments-replyCount">
                    提交回复
                </span>
                <hr>
                <!--一级评论编辑区-->
                <!--这里是登录人的头像和名字，如果没登录，给个默认的头像和名字-->
                <div>
                    <img class="media-object img-rounded img-avatar" th:src="${session.user!=null?session.user.avatarUrl:'/img/visitors.png'}"
                         src="../static/img/visitors.png">
                    <span th:text="${session.user!=null?session.user.name:'游客'}">游客</span>
                </div>
                <div id="comment_area">
                    <input type="hidden" id="questionId" name="questionId" th:value="${questionDTO.id}">
                    <textarea id="commentContent" class="form-control comment" rows="5"></textarea>
                    <button type="button" onclick="post()" class="btn btn-success btn-comment">回复</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-xs-12 right-bar">
                <!--右边1/4区域：热门话题-->
                <div>
                    <h3>发起人</h3>
                    <img class="media-object img-rounded img-avatar" th:src="${questionDTO.user.avatarUrl}"
                         src="../static/img/9150e4e5gy1gab4a9xjurj205h04wdfr.jpg">
                    <a th:href="'/user?id='+${questionDTO.user.id}" class="author"><span th:text="${questionDTO.user.name}">黎明</span></a>
                </div>
                <hr>
                <div id="related">
                    <h3>相关问题</h3>
                    <ul>
                        <li th:each="related:${relatedQuestionDTOS}">
                            <a href="#" th:href="@{'/question/'+${related.getId()}}" th:text="${related.title}"> 测试</a>
                        </li>
                    </ul>
                </div>
                <hr>
                <div>
                    <h3>站长微信</h3>
                    <img class="media-object img-rounded img-weiChat" th:src="@{/img/微信图片_20200320195504.jpg}"
                         src="../static/img/微信图片_20200320195504.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
<input type="hidden" id="loginId" th:value="${session.user!=null?session.user.id:'0'}">
<span class="glyphicon glyphicon-thumbs-up comments-like icon like-active"
      data-id="${commentDTO.id}"
      id="'comPraise-'+${commentDTO.id}" onclick="commentPraise(this)"></span>
<span class="ICount" id="'comPraCount-'+${commentDTO.id}"></span>

<span class="glyphicon glyphicon-thumbs-down comments-like icon tread-active"
      data-id="${commentDTO.id}"
      id="'comTread-'+${commentDTO.id}" onclick="commentTread(this)"></span>
<span  class="ICount" id="'comTreCount-'+${commentDTO.id}"></span>

</body>
</html>
